/* Hele pagina */
html{
    margin: 0;
    padding: 0;
    background: var(--color-background);
}

:root {
    --color-background:black;
    --pink-color:#EDB3D8; 
    --green-color:#43937E;
    --gray-color:#E0E0E0; 

    --headerText-font-family:Flegrei;
    --text-font-family:Avenir black;

}





/* Background layout */
.menu{
    position: relative;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 4px;

    align-items: center;
    justify-content: space-between;
}

/* logo */
.logo{
    width: 75px;
}

/* nav layout */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* nav styling */
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-family: var(--text-font-family);
}

/* about styling */
ul :first-of-type a{
    color: var(--green-color);
}

/* portfolio styling */
ul :last-of-type a{
    color: var(--pink-color);
}

/* hover nav */
nav ul li a:hover{
    color: var(--gray-color);
}


hr{
    position: relative;
    top: -4em;
    margin: 4em;
} 






/* text placement */
.intro{
    margin-left: 8%;
    margin-top: 23%;
    padding: 0 80px;
}

/* header intro */
.intro h1{
    font-family: var(--headerText-font-family);
    color: var(--gray-color);
    font-size: 120px;
    
    margin-bottom: 20px;
    position: absolute;
    top: 2.5em;
}



/* H1 styling */
h1 > span:first-of-type {
    color: var(--pink-color);
}

h1 > span:nth-of-type(3){
    color: var(--green-color);
}

h1 > span:nth-of-type(4){
    color: var(--pink-color);
}


/* intro welcome */
h2{
    font-family: var(--text-font-family);
    color:var(--gray-color);
    font-size: 26px;
    position: absolute;
    top: 11em;
}

h2 > span:first-of-type {
    color: var(--green-color);
}

h2 > span:nth-of-type(2) {
    color: var(--pink-color);
}


.intro a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}




/* shape styling */
.me img:first-of-type{
    width: 15em;
    height: 30vh;
    position: absolute;
    bottom: 11em;
    right: 0;
    /* transform: translate(-0%); */
    transition: right 1s;
}

/* img van Gloria styling */
.me img:nth-of-type(2){
    width: 25em;
    height: 58vh;
    position: absolute;
    bottom: 11em;
    right: 170px;
    z-index: -1;
    /* transform: translate(-0%); */
    transition: right 1s;
}

/* hover functie */
.me:hover img:first-of-type{
    /* right: 40px; */
    width: 30em;
    position: absolute;
    bottom: 1em;
}

.me:hover img:nth-of-type(2){
    right: 2px;

}

/* button styling */
.me a{
    font-family: var(--text-font-family);
    background-color: var(--gray-color);
    padding: .6em;
    font-size: 22px;
    text-decoration: none;

    position: absolute;
    bottom: 4em;
    right: 2em;

    opacity: 0;
}





a span:first-of-type{
    color: var(--green-color);
}

a span:nth-of-type(2){
    color: var(--pink-color);
}




/* mini intro tekst */
main > section:first-of-type {
    position: absolute;
    color: var(--gray-color);
    font-family: var(--text-font-family);
}

main > section:first-of-type img{
    width: 11.5em;
    height: 30vh;
    position: absolute;
    top: 0em;
    right: 2;
    transform: rotate(180deg);
}

main > section:first-of-type p{
    /* position: absolute;
    top: 2.4em;
    left: 14em; */
    margin: 3.6em 10.5em 0;
    font-size: 25px;
}


p > span:first-of-type{
    color: var(--green-color);
}

p > span:nth-of-type(2) {
    color: var(--pink-color);
}

.more h2{
    font-family: var(--headerText-font-family);
    color: var(--gray-color);
    font-size: 120px;
    position: absolute;
    left: 3.3em;   
}


.more > p{
    color: var(--gray-color);
    font-family: var(--text-font-family);
    position: absolute;
    
    left: 14em;
}
    /* position: absolute;
    top: 2.4em;
    left: 14em;
    margin: 3.6em 10.5em 0;
    font-size: 25px; */
/* } */