/* Hele pagina */
html{
    margin: 0;
    padding: 0;
    background: var(--color-background);
}

:root {
    --color-background:black;
    --pink-color:#EDB3D8; 
    --green-color:#43937E;
    --gray-color:#E0E0E0; 

    --h1-font-family:flegrei, sans-serif ;
    --text-font-family:Avenir black;
}




/* header layout */
/* .header{
    position: relative;
    width: 100vw;
    height: 100vh;
} */

/* de navigatie balk, plaatsing van de logo + tekst nav */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 6em;
    padding: 16px;
}

/* de navigatie balk, grote van de logo */
.navigation-bar > img{
    width: 75px;
}

/* de navigatie balk, tekst ruimte tussen elkaar */
.navigation-bar ul li{
    display: inline-block;
    text-indent: 2em;
}

/* de navigatie balk, tekst vormgeving  */
.navigation-bar ul li a{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--text-font-family);
}

/* de navigatie balk, about styling */
.navigation-bar ul :first-of-type a{
    color: var(--green-color);
}

/* de navigatie balk, portfolio styling */
.navigation-bar ul :last-of-type a{
    color: var(--pink-color);
}

/* de navigatie balk, hover navigatie tekst */
.navigation-bar ul li a:hover{
    color: var(--gray-color);
}





/* streep bij de navigatie balk */
body hr{
    margin: -1em 4em;
} 






/* de header, plaatsing van de hele text "into" */
.intro{
    margin: auto;
    /* padding: 11.5em; */
    padding: 11.5em 11.5em 15em 11.5em;
    
    
}


/* de header, vormgeving "intro welcome" */
.intro h2{
    font-family: var(--text-font-family);
    color:var(--gray-color);
    font-size: 26px;
}

/* H2 styling */
.intro h2 > span:first-of-type {
    color: var(--green-color);
}

.intro h2 > span:nth-of-type(2) {
    color: var(--pink-color);
}



/* de header, defult vormgeving + plaatsing "intro hi, i'm gloria" */
.intro h1{
    font-family: var(--h1-font-family);
    color: var(--gray-color);
    font-size: 120px ;
    margin: auto;  
}

/* H1 styling */
.intro h1 > span:first-of-type {
    color: var(--pink-color);
}

.intro h1 > span:nth-of-type(3){
    color: var(--green-color);
}

.intro h1 > span:nth-of-type(4){
    color: var(--pink-color);
}


/* --------------------------------------------------------------------------------------------- */


/* de header, plaatsing alle images */
.me > img{
    position: absolute;
    bottom: 11em;
    transition: right 1s;
}

/* de header, plaatsing image "shape pink" */
.me img:first-of-type{
    width: 15vw;
    height: 30vh;
    right: 0;
}

/* de header, plaatsing image "gloria" */
.me img:nth-of-type(2){
    width: 28em;
    height: 58vh;
    right: 9.5vw;
    z-index: -1;
}

/* de header, hover functie Gloria */
.me:hover img:nth-of-type(2){
    right: -3.5em;
}

/* de header, na hover "shape pink wordt langer" */
.me:hover img:first-of-type{
    width: 30em;
    bottom: 1em;
    /* transition: all 250ms ease-in-out; */
}




/* --------------------------------------------------------------------------------------------- */

/* de header, button "cv" is hidden wanneer er geen hover is */
.me a {
    opacity: 0%;
    visibility: hidden;
    transition: all 250ms ease-in-out;
}

/* de header, button "cv" is visible wanneer er hover is */
.me:hover a {
    opacity: 100%;
    visibility: visible;
}



.me {
    background-color: red;
}



/* de header, button vormgeving */
.me a{
    font-family: var(--text-font-family);
    background-color: var(--gray-color);
    border-radius: 5px;
    padding: .6em;
    font-size: 22px;
    text-decoration: none;
    position: absolute;
    bottom: 4.5em;
    right: 2em;
}


/* button text styling */
a span:first-of-type{
    color: var(--green-color);
}

a span:nth-of-type(2){
    color: var(--pink-color);
}


/* @keyframes button{
	0%{
		opacity: 0;
        transform: translateY(0);
        
	}
	25%{
		opacity: 0;
		transform: translateY(0);
    }
    50%{
		opacity: 1;
		transform: translateY(0);
    }
    75%{
		opacity: 0;
		transform: translateY(0);
    }
    100%{
		opacity: 0;
		transform: translateY(0);
	}

} */


/* --------------------------------------------------------------------------------------------- */


/* side tekst, shape green vormgeving */
main section:first-of-type img{
    width: 11.5em;
    height: 30vh;
    position: absolute;
    left: 0;
}

/* side tekst, tekst vormgeving */
main > section:first-of-type p{
    margin: 0 0 0 10em;
    padding: 80px;
    font-size: 25px;
    color: var(--gray-color);
    font-family: var(--text-font-family);
}

p > span:first-of-type{
    color: var(--green-color);
}

p > span:nth-of-type(2) {
    color: var(--pink-color);
}

/* --------------------------------------------------------------------------------------------- */

/* opmaak hele section 2 */
main section:nth-of-type(2){
    margin-left: 7%;
    padding: 9em 10em 15em 9em;
}


main > hr{
    margin: 10em 4em 0 4em;
}


/* about tekst, 3 shapes vormgeving */
main section:nth-of-type(2) img{
    position: absolute;
    right: 0;
    top: 79em;
    width: 9em;
    height: 27em;
}


/* 2e hoofd tekst */
section:nth-of-type(2) > h1{
    font-family: var(--h1-font-family);
    color: var(--gray-color);
    font-size: 120px; 
}

/* tekst over mij */
section:nth-of-type(2) > p{
    color: var(--gray-color);
    font-family: var(--text-font-family);
    font-size: 22px ;
}
 
/* --------------------------------------------------------------------------------------------- */

/* side tekst, shape pink vormgeving */
main section:nth-of-type(3) img{
    width: 11.5em;
    height: 30vh;
    position: absolute;
    left: 0;
    transform: rotate(180deg);
}

/* side tekst, tekst vormgeving */
main > section:nth-of-type(3) p{
    margin: 0 0 0 10em;
    padding: 80px;
    font-size: 25px;
    color: var(--gray-color);
    font-family: var(--text-font-family);
}

p > span:first-of-type{
    color: var(--green-color);
}

p > span:nth-of-type(2) {
    color: var(--pink-color);
}



/* --------------------------------------------------------------------------------------------- */

/* opmaak hele section 4 */
section:nth-of-type(4){
    padding: 17em 9em;
}


main > hr{
    margin: 10em 4em 0 4em;
}


/* 3e hoofd tekst */
section:nth-of-type(4) > h1{
    margin-left: 25%;
    font-family: var(--h1-font-family);
    color: var(--gray-color);
    font-size: 120px; 
}



/* --------------------------------------------------Bron: https://codepen.io/GeorgePark/pen/vdqYom------------------------------------------- */

/* gallery */
.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
    display: block;
    position: relative;
    top: -6em;
	width: 100%;
    height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.1);
}


@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


.stick {
    position: relative;
    top: -1em;
    width: 10vw;
    height: 15vh;
    z-index: 1;
    transform: rotate(270deg);
}

/* --------------------------------------------------------------------------------------------- */

footer section:first-of-type {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 1em 6em;
    padding: 7em 0 1em;
}

footer img{
    display: inline-block;
    width: 50px;
}


footer > section:nth-of-type(2) {
    color:var(--gray-color);
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 3em;
}
