/* Hele pagina */
html{
    margin: 0;
    padding: 0;
    background: var(--color-background);
}

:root {
    --color-background:black;
    --pink-color:#EDB3D8; 
    --green-color:#43937E;
    --gray-color:#E0E0E0; 

    --h1-font-family:flegrei, sans-serif ;
    --text-font-family:Avenir black;
}




/* header layout */
.header{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* hele navigatie balk plaatsing */
.navigation-bar > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 6em;
    padding: 16px;
}

/* logo grote */
.navigation-bar nav > img{
    width: 75px;
}

/* navigatie tekst plaatsing */
.navigation-bar ul li{
    display: inline-block;
    list-style: none;
    text-indent: 2em;
}

/* navigatie tekst styling */
.navigation-bar ul li a{
    text-decoration: none;
    font-weight: bold;
    font-family: var(--text-font-family);
}

/* about styling */
.navigation-bar ul :first-of-type a{
    color: var(--green-color);
}

/* portfolio styling */
.navigation-bar ul :last-of-type a{
    color: var(--pink-color);
}

/* hover navigatie tekst */
.navigation-bar nav ul li a:hover{
    color: var(--gray-color);
}




header hr{
    margin: -1em 4em;
} 





/* text placement */
.intro{
    margin: auto;
    padding: 11.5em;
}


/* intro welcome */
.intro h2{
    font-family: var(--text-font-family);
    color:var(--gray-color);
    font-size: 26px;
}

.intro h2 > span:first-of-type {
    color: var(--green-color);
}

.intro h2 > span:nth-of-type(2) {
    color: var(--pink-color);
}



/* intro hi !! */
.intro h1{
    font-family: var(--h1-font-family);
    color: var(--gray-color);
    font-size: 120px ;
    margin: auto;  
}

/* H1 styling */
.intro h1 > span:first-of-type {
    color: var(--pink-color);
}

.intro h1 > span:nth-of-type(3){
    color: var(--green-color);
}

.intro h1 > span:nth-of-type(4){
    color: var(--pink-color);
}




/* styling images */
.me > img{
    position: absolute;
    bottom: 11em;
    transition: right 1s;
}

/* shape styling */
.me img:first-of-type{
    width: 15vw;
    height: 30vh;
    right: 0;
}

/* img Gloria styling */
.me img:nth-of-type(2){
    width: 25em;
    height: 58vh;
    right: 9.5vw;
    z-index: -1;
}

/* hover functie shape */
.me:hover img:first-of-type{
    width: 30em;
    bottom: 1em;
}

/* hover functie Gloria */
.me:hover img:nth-of-type(2){
    right: 2px;
}





/* button styling */
.me a{
    font-family: var(--text-font-family);
    background-color: var(--gray-color);
    border-radius: 5px;
    padding: .6em;
    font-size: 22px;
    text-decoration: none;
    position: absolute;
    bottom: 4em;
    right: 2em;

    animation: button 5s ;
}

@keyframes button{
	0%{
		opacity: 0;
        transform: translateY(0);
        
	}
	25%{
		opacity: 0;
		transform: translateY(0);
    }
    50%{
		opacity: 1;
		transform: translateY(0);
    }
    75%{
		opacity: 0;
		transform: translateY(0);
    }
    100%{
		opacity: 0;
		transform: translateY(0);
	}

}


/* button text styling */
a span:first-of-type{
    color: var(--green-color);
}

a span:nth-of-type(2){
    color: var(--pink-color);
}




/* mini intro hele styling*/
main > section:first-of-type {
    display: flex;
   
    
}

/* mini intro tekst shape*/
main > section:first-of-type img{
    width: 11.5em;
    height: 30vh;
    position: absolute;
    top: 55em;
}

/* mini intro tekst */
main > section:first-of-type p{
    margin: 10em 10.5em 0;
    font-size: 25px;
    color: var(--gray-color);
    font-family: var(--text-font-family);
}


p > span:first-of-type{
    color: var(--green-color);
}

p > span:nth-of-type(2) {
    color: var(--pink-color);
}

/* 2e hoofd tekst styling*/
/* .more{
    display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
} */

.more{
    margin-left: 12%;
    padding: 0 80px;
}

/* 2e hoofd tekst */
.more > h1{
    font-family: var(--h1-font-family);
    color: var(--gray-color);
    font-size: 120px; 
}

/* tekst over mij */
.more > p{
 
    color: var(--gray-color);
    font-family: var(--text-font-family);
    font-size: 22px ;
    /* position: absolute;
    
    left: 14em; */
}
    /* position: absolute;
    top: 2.4em;
    left: 14em;
    margin: 3.6em 10.5em 0;
    font-size: 25px; */
/* } */